.communications-section {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  background-color: #0b0c10;
}

.communications-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.col-1 {
  grid-column: 1 / 2;
}

.col-2to11 {
  grid-column: 2 / 12;
}

.col-12 {
  display: none;
}

.communications-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.communication-card {
  background-color: #1f2833;
  border: 2px solid #66fcf1;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  color: #c5c6c7;
}

.communication-card:hover {
  background-color: #66fcf1;
  color: #0b0c10;
  transform: scale(1.05);
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 12, 16, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: #1f2833;
  padding: 40px;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  color: #c5c6c7;
  position: relative;
  font-family: "Exo 2", sans-serif;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  color: #66fcf1;
  font-size: 1.5rem;
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 15px;
}

.communication-card:hover .card-image {
  transform: translateY(-5px);
}

.communications-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.communication-card {
  background-color: #1f2833;
  border: 2px solid #66fcf1;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
  font-family: "Orbitron", sans-serif;
  color: #c5c6c7;
  cursor: pointer;
  overflow: hidden;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .communications-cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .modal-content {
    padding: 20px;
  }
  .card-image {
    width: 50%; /* smaller image on mobile */
    height: auto;
    margin-bottom: 10px;
  }

  .communication-card h3 {
    font-size: 1.2rem; /* smaller heading on mobile */
  }
}
