.edu-section {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
  padding: 40px 0;
}

.edu-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1400px;
  margin: 0 auto;
}

.col-1,
.col-12 {
  grid-column: span 1;
}

.col-2to11 {
  grid-column: 2 / 12;
}

.edu-markers {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  margin-top: 20%;
}

.edu-markers .marker {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 400px;
}
.rocket {
  width: 100%;
  height: auto;
  display: block;
}
