.experience-section {
  width: 100%;
  padding-top: 100px;
  background-color: #0b0c10;
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.col-1 {
  grid-column: 1 / 2;
}

.col-2to11 {
  grid-column: 2 / 12;
}

.col-12 {
  display: none;
}

.experience-header {
  text-align: left;
  font-family: "Orbitron", sans-serif;
  color: #66fcf1;
  margin-left: 10%;
}

/* Carousel Styles */
.carousel-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  position: relative;
  padding-bottom: 20px;
}

.carousel-track {
  display: flex;
  width: fit-content;
  background-image: url(../assets/space.png);
  animation: scrollCarousel 60s linear infinite;
}

.planet-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
  text-align: center;
  scroll-snap-align: start;
}

.planet {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
  cursor: pointer;
  animation: float 6s ease-in-out infinite;
}

.planet-item:nth-child(1) .planet {
  animation-delay: 0s;
}

.planet-item:nth-child(2) .planet {
  animation-delay: 1s;
}

.planet-item:nth-child(3) .planet {
  animation-delay: 2s;
}

.planet-item:nth-child(4) .planet {
  animation-delay: 3s;
}
.planet-item:nth-child(5) .planet {
  animation-delay: 4s;
}
.planet:hover {
  filter: drop-shadow(var(--color-primary) 0px 0px 10px);
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
}

/* Text under planets */
.planet-item p {
  font-family: "Orbitron", sans-serif;
  color: #66fcf1;
  margin-top: 10px;
  font-size: 1rem;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Scroll Animation (corrected) */
@keyframes scrollCarousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Rotate Planet Animation */

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .carousel-track {
    animation: scrollCarousel 20s linear infinite;
  }

  .planet {
    width: 150px;
    height: 150px;
  }

  .experience-header {
    text-align: left;
    font-family: "Orbitron", sans-serif;
    color: #66fcf1;
    font-size: 2rem;
    margin-left: 25%;
    margin-bottom: 10%;
  }
}
