/* wrap the Canvas in a fixed-size box */
.project-holographic-container {
  width: 100%;
  height: auto;
  margin: auto;
}

/* make the <canvas> fill its container */
.project-holographic-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

@media screen and (max-width: 768px) {
  .project-holographic-container canvas {
    width: 100% !important;
    height: 30vh !important;
  }
}
